.new_password {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    form {
        display: flex;
        flex-direction: column;
        background: #6c59b1;
        box-shadow: 20px 20px 60px #5c4c96, -20px -20px 60px #7c66cc;
        padding: 1rem;
        border-radius: 0.5rem;

        h5 {
            color: #ffff;
            text-align: center;
            text-transform: uppercase;
        }

        .new_password-box {
            position: relative;

            input {
                width: 100%;
                padding: 0.2rem 0.8rem;
                margin: 0.5rem 0;
                border-radius: 0.5rem;
                outline: none;
                border: none;
            }
            .eye-icon {
                position: absolute;
                top: 19%;
                right: 3%;
                color: #ccc;
                cursor: pointer;
            }
        }

        input[type="submit"] {
            padding: 0.2rem;
            margin: 0.5rem 0;
            border: none;
            border-radius: 0.5rem;
            background-color: #f79540;
            color: #ffff;
        }
    }
}