.cart {
    .Quantity {
        input {
            outline: none;
            border-radius: 10px;
        }
        button {
            background: transparent;
            color: #ffff;
            border: none;
        }
    }
}