.order-detail {
  margin-top: 180px;
  padding: 0.5rem;
  min-height: 100vh;
  h5 {
    font-weight: 700;
  }
  .order_detail_box {
    p {
      display: inline-block;
      font-size: 1rem;
      font-weight: 700;
    }
  }
  .order_detail_cart_item {
    table {
      thead {
        
      }
      tbody {
        td {
          button {
            
          }
        }
      }
    }
    width: 100%;
    img {
      width: 80px;
      height: 80px;
      border-radius: 1rem;
    }
    & > div {
      margin: 0.5rem 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      span {
        display: inline-block;
        margin-left: auto;
      }
      a {
        color: #000000;
        margin: 0 0.5rem;
        width: 200px;
        &:hover {
          color: aqua;
        }
      }
    }
  }
}
