.order_detail {
    color: #fff;
    h5 {
        font-weight: 700;
    }
    .order_detail_box {
        p {
            display: inline-block;
            font-size: 1rem;
            font-weight: 500;
        }
    }
    .order_detail_cart_item {
        max-width: 40rem;
        img {
            width: 80px;
            height: 80px;
            border-radius: 1rem;
        }
        & > div {
            margin: 0.5rem 0;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            a{
                color: #fff;
                margin: 0 0.5rem;
                width: 200px;
                &:hover {
                    color: aqua;
                }
            }
            span {
                display: inline-block;
                margin-left: auto;
            }
        }
    }
}