$border: #383854;
$background-header: #2e2e48;
.admin-header {
    position: fixed;
    top: 0;
    left: 11rem;
    right: 0;
    border-left: 1px solid $border;
    background-color: $background-header;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    padding: 1.5rem 1rem;
    svg {
        display: block;
        fill: #fff;
    }
    button {
        border: 1px solid #fff;
        color: #fff;
    }
    .dropdown {
        .dropdown-menu {
            padding: 0 !important;
            .dropdown-item {
                color: #2e2e48;
                font-size: 0.8rem;
                cursor: pointer;
            }
        }
    }
}