.navbar-brand {
    font-size: 2rem;
    color: black;
    font-family: 'Kreon', serif;
}
.navbar-brand:hover {
    color: brown;
}
.nav-link {
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
}
.nav-link:hover {
    color: brown;
}
.menu-icon .dropdown-toggle::after {
    display: none;
}
.menu-icon .dropdown-menu {
    min-width: 200px;
    height: auto;
    top: 150%;
}
.menu-icon .dropdown-menu input {
    height: 100%;
    outline: none;
    border: none;
}
.modal-header {
    border-bottom: none;
}

