
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 1.2rem;
    height: 80px;
    background-color: rgba($color: #712cf9, $alpha: 1.0);
    color: azure;
    z-index: 99999;
    .menu_container {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .brandAndToggle {
            .menu_toggle {
                display: none;
            }
            .brand {
                font-weight: 700;
                font-size: 1.4rem;
                text-transform: uppercase;
            }
        }
        .submenu {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            line-height: 100%;
            .menu_toggle_close {
                display: none;
            }
            .menu_children-1 {
                padding: 0 10px;
                font-weight: 500;
            }
        }
        .menu_icon {
            display: flex;
            flex-direction: row;
            gap: 10px;
            .menu_search {
                position: relative;
                .menu_search_input {
                    display: none;
                    position: absolute;
                    top: 150%;
                    left: -200%;
                    min-width: 150px;
                    min-height: 25px;
                    border-radius: 10px;
                    input {
                        width: 100%;
                        border-radius: 10px;
                    }
                    input:focus {
                        outline: none;
                    }
                }
                .menu_search_input::before {
                    content: " ";
                    position: absolute;
                    top: -50%;
                    left: 25%;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-top: 10px solid transparent;
                    border-bottom: 10px solid #fff ;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        height: 60px;
        .menu_container {
            width: 100% !important;
            .brandAndToggle {
                display: flex;
                flex-direction: row;
                gap: 10px;
                .menu_toggle {
                    display: block;
                }
            }
            .submenu {
                flex-direction: column;
                position: fixed;
                top: 0;
                left: -100%;
                transition: 350ms;
                height: 100vh;
                width: 250px;
                background-color: #712cf9;
                font-size: 1.5rem;
                font-weight: 500;
                .menu_toggle_close {
                    font-weight: 700;
                    display: block;
                    margin: 0 10px;
                    line-height: 60px;
                }
                .menu_children-1 {
                    line-height: 40px;
                    margin: 0 10px;
                    
                }
            }
            .submenu.active-toggle {
                left: 0;
                transition: 350ms;
            }
            .menu_search_input {
                position: absolute;
                top: 150%;
                left: -350% !important;
            }
            .menu_search_input::before {
                left: 45% !important;
            }
        }

    }
}