header {
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    color: #fff;
    height: 60px;
    width: 100vw;
    z-index: 999;
    .navbar-container {
        display: flex;
        align-items: center;
        justify-content: center;
        .icon-toggle {
            flex: 1;
            padding-left: 2px;
            display: flex;
            align-items: center;
            button {
                background: none;
                border: none;
                color: #fff;
                font-size: 30px;
                font-weight: 800;
                svg {
                    display: block;
                }
            }
        }
        .navbar-brand {
            flex: 1;
            font-size: 30px;
            font-weight: 700;
        }
        .navbar-search {
            flex: 8;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            input {
                border: none;
                outline: none;
                border-radius: 20px;
                padding: 2px 20px 2px 10px;
                width: 300px;
            }
            .icon-search {
                position: absolute;
                color: rgb(83, 73, 73);
                right: 37%;
                top: 0%;
            }
        }
        .navbar_icon-group {
            flex: 2;
            display: flex;
            justify-content: flex-end;
            a {
                color: #fff;
                font-size: 20px;
                margin: 0 5px;
            }
        }
    }
    .offcanvas{
	    background: linear-gradient(45deg, #49a09d, #5f2c82);
        color: #fff;
        .offcanvas-header {
            
        }
        .offcanvas-body {
            ul {
	            background: transparent;
                box-shadow: none !important;
                border: none;
            }
            li {
                font-weight: 700;
                background: transparent;
                border: none;
                a {
                    color: #fff;
                }
                a:hover {
                    color: #5f2c82;
                }
            }
            .list-group-item {
                padding-left: 20px ;
            }
            .title-menu {
                
                font-size: 30px;
            }
            .accordion {
                background: transparent;
                .accordion-item {
                    background: transparent;
                    .accordion-header {
                        button {
                            background: transparent;
                            border: none;
                        }
                    }
                    .accordion-button {
                        font-weight: 700;
                        color: #fff;
                    }
                    .accordion-body {
                        li {
                            a {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}