header {
  background: #654E92;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 16.4px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 60px;
  z-index: 999;
}
header .navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .navbar-container .icon-toggle {
  flex: 1;
  padding-left: 2px;
  display: flex;
}
header .navbar-container .icon-toggle .navbar-brand {
  font-size: 1rem;
  margin-left: 1rem;
  font-weight: 700;
}
header .navbar-container .icon-toggle button {
  background-color: transparent;
  border-radius: 10px;
  height: 30px;
  border: none;
}
header .navbar-container .icon-toggle button svg {
  color: white;
  font-size: 30px;
  vertical-align: baseline;
  font-weight: 700;
}
header .navbar-container .search_keyword {
  flex: 1;
  position: relative;
}
header .navbar-container .search_keyword input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.1rem 0.2rem 0.1rem 1rem;
  border-radius: 0.5rem;
}
header .navbar-container .search_keyword button {
  position: absolute;
  border: none;
  background: transparent;
  outline: none;
  right: 2%;
  top: 10%;
  color: #ccc;
}
header .navbar-container .search_keyword button svg {
  vertical-align: baseline;
}
header .navbar-container .navbar_icon-group {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
header .navbar-container .navbar_icon-group .icon-user {
  margin: 0 0.5rem;
}
header .navbar-container .navbar_icon-group .icon-user .dropdown button {
  border: none;
  background: transparent;
  color: #fff;
  font-size: 1rem;
}
header .navbar-container .navbar_icon-group .icon-user .dropdown button svg {
  vertical-align: baseline;
}
header .navbar-container .navbar_icon-group .icon-user .dropdown .dropdown-menu {
  font-size: 0.8rem;
  padding: 0;
  overflow: hidden;
}
header .navbar-container .navbar_icon-group .icon-user .dropdown .dropdown-menu li {
  cursor: pointer;
}
header .navbar-container .navbar_icon-group .icon-user .dropdown .dropdown-menu li a {
  color: inherit;
}
header .navbar-container .navbar_icon-group .icon-user .dropdown .dropdown-menu li button {
  color: inherit;
  font-size: inherit;
}
header .navbar-container .navbar_icon-group .icon-user .dropdown .dropdown-menu li button:hover {
  background: #e9ecef;
}
header .navbar-container .navbar_icon-group .icon-cart,
header .navbar-container .navbar_icon-group .icon-bell {
  margin-right: 0.5rem;
}
header .navbar-container .navbar_icon-group .icon-cart a,
header .navbar-container .navbar_icon-group .icon-bell a {
  color: #fff;
  font-size: 1rem;
}
header .navbar-container .navbar_icon-group .icon-cart a svg,
header .navbar-container .navbar_icon-group .icon-bell a svg {
  vertical-align: baseline;
}
header .offcanvas {
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  color: #fff;
}
header .offcanvas .offcanvas-header button {
  border: none;
}
header .offcanvas .offcanvas-header button svg {
  transition: transform 0.5s ease-in;
  color: #fff;
  font-size: 30px;
  vertical-align: baseline;
  font-weight: 700;
}
header .offcanvas .offcanvas-header button svg:hover {
  transform: rotate(40deg);
}
header .offcanvas .offcanvas-header button:active {
  border: none;
  color: #ccc;
}
header .offcanvas .offcanvas-body {
  padding-top: 0;
}
header .offcanvas .offcanvas-body ul {
  background: transparent;
  box-shadow: none !important;
  border: none;
}
header .offcanvas .offcanvas-body li {
  font-weight: 700;
  background: transparent;
  border: none;
}
header .offcanvas .offcanvas-body li a {
  color: #fff;
}
header .offcanvas .offcanvas-body li a:hover {
  color: #5f2c82;
}
header .offcanvas .offcanvas-body .list-group-item {
  padding-left: 20px;
}
header .offcanvas .offcanvas-body .title-menu {
  font-size: 30px;
}
header .offcanvas .offcanvas-body .accordion {
  background: transparent;
}
header .offcanvas .offcanvas-body .accordion .accordion-item {
  background: transparent;
}
header .offcanvas .offcanvas-body .accordion .accordion-item .accordion-header button {
  background: transparent;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
}
header .offcanvas .offcanvas-body .accordion .accordion-item .accordion-header button:focus {
  box-shadow: none;
}
header .offcanvas .offcanvas-body .accordion .accordion-item .accordion-header button:hover {
  color: #5f2c82;
}
header .offcanvas .offcanvas-body .accordion .accordion-item .accordion-header .accordion-button::after {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="30" height="30" viewBox="0 0 16 16"%3E%3Cg transform="rotate(180 8 8)"%3E%3Cpath fill="white" fill-rule="evenodd" d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56L2.224 9.447a.5.5 0 1 1-.448-.894l6-3z"%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}
header .offcanvas .offcanvas-body .accordion .accordion-item .accordion-button {
  font-weight: 700;
  color: #fff;
}
header .offcanvas .offcanvas-body .accordion .accordion-item .accordion-body li a {
  color: #fff;
}
header .offcanvas .offcanvas-body .accordion .accordion-item .accordion-body li a:hover {
  color: #5f2c82;
}/*# sourceMappingURL=Header.css.map */