.about {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .profile-admin {
  width: 80%;
  background: #fff;
  -webkit-box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.75);
}

.about .profile-admin .about-profile-content {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #dd2c2c;
}

.about .profile-admin .about-profile-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .profile-admin .about-profile-body .about-admin-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48%;
}

.about .profile-admin .about-profile-body .about-admin-details img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.about .profile-admin .about-profile-body .about-admin-details div {
  margin: 20px;
  font-size: 20px;
  font-weight: 400;
}

.about .profile-admin .about-profile-body .about-admin-details a {
  color: #000;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  font-size: 16px;
  background: #ccc;
  text-align: center;
  width: 150px;
  height: 40px;
  border-radius: 10px;
}

.about .profile-admin .about-profile-body .about-admin-details .about-warning {
  text-align-last: center;
}

.about .profile-admin .about-profile-body .about-admin-brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .profile-admin .about-profile-body .about-admin-brands span {
  font-size: 25px;
}

.about .profile-admin .about-profile-body .about-admin-brands svg {
  font-size: 40px;
  display: block;
  margin: 10px 0;
}

.about .profile-admin .about-profile-body .about-admin-brands .about-facebook {
  color: #1298f6;
}

.about .profile-admin .about-profile-body .about-admin-brands .about-youtube {
  color: #dd2c2c;
}

@media (max-width: 768px) {
  .about .profile-admin .about-profile-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .profile-admin .about-profile-body .about-admin-details {
    width: 100%;
  }
  .about .profile-admin .about-profile-body .about-admin-brands {
    width: 100%;
  }
  .about .profile-admin .about-profile-body .rule {
    display: none;
  }
}
/*# sourceMappingURL=About.css.map */