.orderconfirm {
    display: flex;
    color: #fff;
    .shippingInfor {
        padding: 20px 0 20px 20px;
        flex: 8;
        display: flex;
        justify-content: space-between;
        .shippingInfor-content {
            .userInfor {
                margin-left: 30px;
            }
        } 
        .vr {
            width: 2px;
        }
    }
    .total {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        }
}