.orderconfirm {
    display: flex;
    color: #fff;
    .shippingInfor {
        padding: 20px 0 20px 20px;
        flex: 6;
        display: flex;
        justify-content: space-between;
        .shippingInfor-content {
            color: #fff;
            width: 100%;
            .userInfor {
                margin-left: 30px;
            }
            .cart-list {
                width: 100%;
                .card {
                    background: transparent;
                    border: none;
                    width: 100%;
                }
            }
        } 
        .vr {
            width: 2px;
        }
    }
    .total {
        flex: 4;
        display: flex;
        flex-direction: column;
       align-items: center;
       .rule {
        min-width: 250px;
        height: 2px;
        background-color: #fff;
       }
       .total-price {
        font-size: 20px;
        display: flex;
        min-width: 250px;
        justify-content: space-between;
       }
       button {
        border: none;
        background: #7431F9;
        color: #fff;
        margin-top: 20px;
        border-radius: 5px;
        padding: 10px 20px;
       }
    }
}