.categories {
    width: 100vw;
    margin-top: 80px;
    
    .categories-content {
        display: flex;
        flex-wrap: wrap !important;
        width: 100%;
        .categories-controller {
            flex: 2;
            margin: 10px 0 0 30px;
            padding: 5px;
            .categories-range {
                border-bottom: 1px solid rgb(230, 222, 222);
                padding: 5px 10px;
                .multi-range-slider {
                    border: none;
                    box-shadow: none;
                    .caption {
                        display: flex;
                        span {
                            background-color: rgb(71, 53, 139);
                        }
                    }
                    .bar {
                        .bar-inner {
                            background-color: rgb(71, 53, 139);
                        }
                    }
                    .labels {
                        display: none;
                    }
                }
                .ruler {
                    display: none;
                }
            }
            .categories-model {
                margin-top: 10px;
                margin-bottom: 10px;
                color: #fff;
                text-transform: uppercase;
                font-family: 'Courier New', Courier, monospace;
                font-weight: 400;
                .categories-model-item {
                    font-family: sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    cursor: pointer;
                    margin-left: 40px;
                    text-transform: uppercase;
                }
                .categories-model-item:hover {
                    color: rgb(216, 94, 94);
                }
            }
            .categories-rating {
                border-top: 1px solid rgb(230, 222, 222);
                padding: 5px;
                text-align: center;
                
            }
        }
        .categories-gird {
            flex: 8;
            display: flex;
            flex-direction: column;
            align-items: center;
            .categories-header {
                text-align: center;
                font-family: 'Courier New', Courier, monospace;
                color: #fff;
                font-weight: 700;
            }
            .categories-controller-select {
                max-width: 100%;
                margin: 1rem 2rem;
                display: none;
                select {
                    font-size: 1rem;
                    font-weight: 500;
                    width: 10rem;
                    padding: 0.2rem 1rem;
                    border-radius: 0.5rem;
                    outline: none;
                    margin: 0.5rem;
                }
            }
            .categories-gird-content {
                padding: 0px 30px 10px 10px;
                width: 100%;
                .card {
                    margin-top: 10px;
                }
            }
            
                .pagination-list {
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    list-style: none;
                    padding: 0;
                    
                    li {
                        margin: 0 5px;
                        button {
                            padding: 5px;
                            text-decoration: solid;
                            background: transparent;
                            color: #fff;
                            border: none;
                            font-size: 20px;
                            box-shadow: 0px 0px 6px 6px rgba(63,31,193,0.52);
                            -webkit-box-shadow: 0px 0px 6px 6px rgba(63,31,193,0.52);
                            -moz-box-shadow: 0px 0px 6px 6px rgba(63,31,193,0.52);
                        }
                    }
                }
            
        }
    } 
}

@media (max-width: 992px) {
    .categories-content {
        .categories-controller {
            display: none;
        }
        .categories-gird {
            .categories-controller-select {
                display: flex !important;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }
    }
}