.categories {
  width: 100vw;
}
.categories .categories-content {
  display: flex;
  flex-wrap: wrap !important;
  width: 100%;
}
.categories .categories-content .categories-controller {
  flex: 2;
  margin: 4rem 0 0 1rem;
  padding: 5px;
  border-radius: 0.5rem;
  background: #5764B3;
  box-shadow: 20px 20px 60px #4a5598, -20px -20px 60px #6473ce;
}
.categories .categories-content .categories-controller .categories-range {
  border-bottom: 1px solid rgb(230, 222, 222);
  padding: 5px 10px;
}
.categories .categories-content .categories-controller .categories-range h3 {
  color: #fff;
  margin-bottom: 2rem;
}
.categories .categories-content .categories-controller .categories-range .multi-range-slider {
  border: none;
  box-shadow: none;
}
.categories .categories-content .categories-controller .categories-range .multi-range-slider .caption {
  display: flex;
}
.categories .categories-content .categories-controller .categories-range .multi-range-slider .caption span {
  background-color: rgb(71, 53, 139);
}
.categories .categories-content .categories-controller .categories-range .multi-range-slider .bar .bar-inner {
  background-color: rgb(71, 53, 139);
}
.categories .categories-content .categories-controller .categories-range .multi-range-slider .labels {
  display: none;
}
.categories .categories-content .categories-controller .categories-range .ruler {
  display: none;
}
.categories .categories-content .categories-controller .categories-model {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  padding: 5px 10px;
}
.categories .categories-content .categories-controller .categories-model .categories-model-item {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  margin-left: 40px;
  text-transform: uppercase;
}
.categories .categories-content .categories-controller .categories-model .categories-model-item:hover {
  color: rgb(216, 94, 94);
}
.categories .categories-content .categories-controller .categories-rating {
  border-top: 1px solid rgb(230, 222, 222);
  padding: 5px;
  padding: 5px 10px;
}
.categories .categories-content .categories-controller .categories-rating h5 {
  color: #fff;
  text-align: start;
}
.categories .categories-content .categories-gird {
  flex: 8;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.categories .categories-content .categories-gird .categories-header {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: #fff;
  font-weight: 700;
}
.categories .categories-content .categories-gird .categories-controller-select {
  max-width: 100%;
  margin: 1rem 2rem;
  display: none;
}
.categories .categories-content .categories-gird .categories-controller-select select {
  font-size: 1rem;
  font-weight: 500;
  width: 10rem;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  outline: none;
  margin: 0.5rem;
}
.categories .categories-content .categories-gird .categories-gird-content {
  padding: 0px 30px 10px 10px;
  width: 100%;
}
.categories .categories-content .categories-gird .categories-gird-content .card {
  margin-top: 10px;
}
.categories .categories-content .categories-gird .pagination-list {
  background-color: transparent;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}
.categories .categories-content .categories-gird .pagination-list li {
  margin: 0 5px;
}
.categories .categories-content .categories-gird .pagination-list li button {
  padding: 5px;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  background: transparent;
  color: #fff;
  border: none;
  font-size: 20px;
  box-shadow: 0px 0px 6px 6px rgba(63, 31, 193, 0.52);
  -webkit-box-shadow: 0px 0px 6px 6px rgba(63, 31, 193, 0.52);
  -moz-box-shadow: 0px 0px 6px 6px rgba(63, 31, 193, 0.52);
}

@media (max-width: 992px) {
  .categories-content .categories-controller {
    display: none;
  }
  .categories-content .categories-gird .categories-controller-select {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=Categories.css.map */