.payment {
    margin-top: 150px;
    form {
        box-shadow: 5px 5px 17px #cecece, -5px -5px 17px #f2f2f2;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        margin-bottom: 2rem;
        p {
            text-align: center;
        }
        .field {
            position: relative;
            margin-bottom: 1rem;
            svg {
                display: block;
                position: absolute;
                top: 25%;
                left: 0.4rem;
            }
            .paymentInput {
                min-width: 20rem;
                padding-left: 2rem;
                font-size: 0.8rem;
            }
            .InputContainer .InputElement   {
                font-weight: 700;
            }
        }
    }
}