.payment {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    form {
        display: flex;
        flex-direction: column;
        min-width: 17rem;
        background-color: #7532F9;
        border-radius: 1rem;
        padding: 0.5rem;
        label {
            font-size: 1rem;
            color: #fff;
            margin-left: 0.5rem;
            margin-bottom: 0;
        }
        input {
            margin: 0.5rem;
            border: none;
            outline: none;
            border-radius: 0.5rem;
            padding: 0.5rem;
        }
        input[type='submit'] {
            background-color: #765bac;
            color: #fff;
        }
    }
}