* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 20px;
  width: 100vw;
}
body {
  padding-right: 0 !important;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;700;900&family=Kreon&family=Poppins:wght@300;700&display=swap');
.card {
  cursor: pointer;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.active {
  border-bottom: 1px solid #91b156;
}
.breadcrumb {
  .breadcrumb-item {
    font-size: 0.8rem;
  }
}
.Toastify__toast-body {
  font-size: 0.8rem;
}

@media (max-width: 365px) {
  html {
    width: 100vw;
  }
}
