* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(120deg, #2980b9, #8e44ad);  
  margin-top: 60px;
  width: 100vw;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;700;900&family=Kreon&family=Poppins:wght@300;700&display=swap');
.card {
  cursor: pointer;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.active {
  border-bottom: 1px solid #91b156;
}
.Home, .Categories {
  margin-top: 61px;
}
@media (max-width: 768px) {
  .Home {
    margin-top: 60px;
  }
}