
.btn1 {
    visibility: hidden;
    background-color: #dc3545;
    border-radius: 60px;
    color: white;
}
.trending:hover {
    -webkit-box-shadow: 10px 4px 39px 1px rgba(0,0,0,0.7);
-moz-box-shadow: 10px 4px 39px 1px rgba(0,0,0,0.7);
box-shadow: 10px 4px 39px 1px rgba(0,0,0,0.7);
transition: 0.5;
}
.trending:hover .btn1 {
    visibility:inherit;
}
.trending:hover .card{
    border: none;
}
.trendingbrand {
    width: 90%;
    border-radius: 10px;
    -webkit-box-shadow: 10px 4px 39px 1px rgba(0,0,0,0.7);
-moz-box-shadow: 10px 4px 39px 1px rgba(0,0,0,0.7);
box-shadow: 10px 4px 39px 1px rgba(0,0,0,0.7);
}
.slider {
    transition: ease 2000ms;
}
.Home {
    background-color: black;
    color: white;
}
.Home h3 {
    display: block;
}
.Home h2 {
    display: block;
}
