.contact {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .contact-email {
        width: 350px;
        height: 40px;
        background: #ccc;
        font-size: 20px;
        font-weight: 500;
        border-radius: 20px;
        text-align: center;
        padding-top: auto;
        padding-bottom: auto;
        color: #fff;
       display: block;
       text-align: center;
    }
    a:hover {
        color: rgb(197, 119, 31);
    }
}