$color-categories: #313131;
$border: #36a4d5;
.brand-carousel-body {
  padding-bottom: 2rem;
  .swiper {
    padding-bottom: 2rem;
    .swiper-pagination {
      .swiper-pagination-bullet {
        background-color: rgba(173, 171, 171, 0.753);
        opacity: 1;
      }
      .swiper-pagination-bullet-active {
        width: 2rem;
        background-color: $border;
        border-radius: 0.2rem;
      }
    }
  }
}
